.horizotalCard_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    width: 32rem;
    border: 1px solid var(--neutral-light-gray);
    border-radius: 12px;
}