.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    height: 120px;
    padding: 1.3rem 1rem 1.3rem 1rem;
    border: 1.5px solid var(--primary-pastel-blue);
    border-radius: 12px;
}

.planCard__price {
    color: var(--neutral-cool-gray);
    font-size: 14px;
}

.planCard__offer {
    color: var(--primary-marine-blue);
    font-size: 700;
    font-size: 12px;
    height: 20px;
}

.cardContainer:hover {
    border-color: var(--primary-purplish-blue);
}