.stepContainer {
    display: flex;
    color: var(--neutral-white);
}

.stepIcon {
    border-radius: 50%;
    width: 13px;
    height: 14px;
    padding: 8px;
    margin-right: 1rem;
    border: 1px solid var(--neutral-white);
    text-align: center;
    font-weight: 600;
}

.stepDetailsContainer {
    display: flex;
    flex-direction: column; 
    align-self: center;
    justify-content: baseline;
}

.stepDetailNumber {
    opacity: 0.7;
    font-size: 12px;
}

.stepDetailName {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 2rem;
}