.togglerLabel {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
}

.togglerInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.togglerSpan {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 5px;
    background: var(--primary-marine-blue);
    transition: 0.3s;
    border-radius: 24px;
}

.togglerSpan:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    bottom: 2.6px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.togglerInput:checked+span:before {
    transform: translateX(29px);
}